<!doctype html>
<html>
	<head>
		<title>Camagru</title>
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<header>Welcome to Camagru</header>
		{{{body}}}
		<footer>Contact</footer>
	</body>
</html>
